.meta-text {
  color: #cecece;
  font-size: 14px;
  font-style:italic;
  padding: 5px 0px;
}

.favorite-buttons {
  display:block;
  width:35%;
  margin:5px;
}

.back-btn {
  display:block;
  width:100%;
  margin-bottom:15px;
}